[submodule "docker-opentracker/opentracker"]
	path = docker-opentracker/opentracker
	url = git://erdgeist.org/opentracker
[submodule "dht/bootstrap-dht"]
	path = dht/bootstrap-dht
	url = https://github.com/bittorrent/bootstrap-dht.git
[submodule "docker-opentracker/libowfat"]
	path = docker-opentracker/libowfat
	url = https://github.com/gebi/libowfat.git
